/* global-selectors */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Google font */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Header */

header {
    height: 50px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
    padding-top: 25px;
    padding-left: 15px;



}



#logo {

    height: 80%;
    width: 15%;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;

}



/* background and text colors */

.white-text {

    color: #FFFFFF;
}

.blue-text {

    color: #DEF2FB;
}

.grey-text {
    color: #DFDFDF;
}

.highlighted {

    background-color: #FFFF00;
}

.thead-color {

    background-color: #20A9E5;
}


.tbody-color {
    background-color: #B1E5F2;
}